.header{
	min-height: 80px;
	background-color: red;

}
.box{
     overflow: hidden;
     border: 10px solid yellow;

}
.blog{
	min-height: 150px;
	background-color: blue;
	width: 32%;
	border: 5px solid white;
	float: left;



}.blog{
	min-height: 150px;
	background-color: blue;
	width: 32%;
	border: 5px solid white;
	float: left;



}.blog{
	min-height: 150px;
	background-color: blue;
	width: 32%;
	border: 5px solid white;
	float: left;



}

.footer{
	min-height: 80px;
	background-color: black;
	border: 10px solid skyblue;
	
}
